* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

#wrapper {
    width: 100%;
    margin: auto;
    display: flex;
}

#main {
  padding-left: 20px;
}

#sidebar {
  max-width: 25%;
  min-width: 180px;
  background-color: blue;
}

#sidebar h3 {
  padding-left: 20px;
}

#menu {
    width: 100%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    /*max-width: 25%;*/
    background-color: #92C392;
    height: 100%;
    overflow: auto;
}

#menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

#menu li a.active {
    background-color: #555;
    color: #DEEDD5;
}

#menu li a:hover:not(.active) {
    color: #DEEDD5;
    font-weight: bold;
}