* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    /*#FAF0FF;*/
    background-color: #ffffff;
    color: #312450;
}

#wrapper {
    width: 100%;
    margin: auto;
    display: flex;
}

#main {
    padding-left: 20px;
    height: 100%;
}

#main-index {
    padding-left: 20px;
    height: 100%;
    width: 100%;
}

#sidebar {
    max-width: 25%;
    min-width: 230px;
    height: 100%;
}

#sidebar h3 {
    padding-left: 20px;
}

#sidebar-nav {
    width: 100%;
    height: 100%;
    background-color: #e4ddf2;
}

#sidebar > #sidebar-nav > #sidebar-brand {
    overflow: auto;
    background-color: #e4ddf2;
}

#sidebar > #sidebar-nav > #sidebar-brand #logo {
    background: transparent url("../../images/logo.svg") no-repeat;
    height: 55px;
    width: 130px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    float: left;
}

#sidebar > #sidebar-nav > #sidebar-brand #logo-text-index {
    font-family: Tangerine;
    color: #312450;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin-top: 40px;
    margin-left: 150px;
    position: fixed;
}

#sidebar > #sidebar-nav > #sidebar-brand #logo-text {
    font-family: Tangerine;
    color: #312450;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin-top: 40px;
    margin-right: 20px;
    float:right;
}

#sidebar-nav ul {
    list-style-type: none;
    background-color: #312450;
    height: 805px;
    overflow: auto;
}

#sidebar-nav li {
    line-height: 55px;
}

#sidebar-nav li a {
    display: block;
    color: #b3a6cc;
    text-decoration: none;
    font-weight: semi-bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    transition: color 0.2s ease-in;
    /*text-align: center;*/
    margin-left: 62px;
}

#sidebar-nav li a.active {
    color: #ffffff;
    font-weight: 600;
}

#sidebar-nav li a:hover:not(.active) {
    color: #e4ddf2;
}

#sidebar-nav li.overview {
    background: transparent url("../../images/icon-overview.png") no-repeat 25px;
}

#sidebar-nav li.expenses {
    background: transparent url("../../images/icon-expenses.png") no-repeat 25px;
}

#sidebar-nav li.incomes {
    background: transparent url("../../images/icon-incomes.png") no-repeat 25px;
}

#sidebar-nav li.accounts {
    background: transparent url("../../images/icon-accounts.png") no-repeat 25px;
}

#sidebar-nav li.goals {
    background: transparent url("../../images/icon-goals.png") no-repeat 25px;
}

#sidebar-nav li.reports {
    background: transparent url("../../images/icon-reports.png") no-repeat 25px;
}

#sidebar-nav li.profile {
    background: transparent url("../../images/icon-profile.png") no-repeat 25px;
}

#sidebar-nav li.logout {
    background: transparent url("../../images/icon-logout.png") no-repeat 25px;
}

#sidebar > #sidebar-nav > #login-form {
    background-color: #e4ddf2;
}

#sidebar > #sidebar-nav > #login-form .container {
    align-content: center;
    margin-top: 90px;
}

#sidebar > #sidebar-nav > #login-form .container input[type=text], input[type=password] {
    width: 90%;
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 5px;
    display: inline-block;
    box-sizing: border-box;
}

#sidebar > #sidebar-nav > #login-form .container button {
    background-color: #312450;
    color: #ffffff;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

#sidebar > #sidebar-nav > #login-form .container p {
    font-size: 12px;
    margin-left: 10px;
    padding-top: 5px;
}

 #main-index #main-wallpaper {
    background: transparent url("../../images/index-wallpaper.png") no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -15px;
    margin-left: -20px;
}

#main > .inner-center > #signup-form .container {
    width: 27%;
    margin: 0 auto 0 -230;
    top: 45%;
    left: 50%;
    position: absolute;
}

#main > .inner-center > #signup-form .container input[type=text], input[type=password] {
    width: 90%;
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 5px;
    display: inline-block;
    box-sizing: border-box;
}

#main > .inner-center > #signup-form .container button {
    background-color: #312450;
    color: #ffffff;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
    border: 0px;
}

#main > .inner-center > #brand {
    overflow: auto;
    width: 27%;
    margin: -150 auto 0 -230;
    top: 45%;
    left: 50%;
    position: absolute;
}

#main > .inner-center > #brand #logo {
    background: transparent url("../../images/logo.svg") no-repeat;
    height: 55px;
    width: 130px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    float: left;
}

#main > .inner-center > #brand #logo-text-signup {
    font-family: Tangerine;
    color: #312450;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin-top: 40px;
    margin-left: 150px;
    position: fixed;
    float:right;
}

#main > #container {
    margin-left: 20;
    width: inherit;
    position: absolute;
    top: 20px;
}

#main > #container select {
    background-color: #312450;
    color: #ffffff;
    margin-right: 30;
    padding: 5px;
    font-weight: semi-bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
}

#main > #container .button {
    background-color: #312450;
    color: #ffffff;
    text-align: center;
    border: 0px;
    float: left;
    padding: 5px;
    margin-right: 200px;
    font-size: 1em;
    font-weight: semi bold;
    width: 17px;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

#main > #container .button:hover {
    background: #b3a6cc;
    color: #312450;
}

#main > #container .overlay {
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#main > #container #icon-calendar {
    background: transparent url("../../images/icon-calendar.png") no-repeat 25px 25px;
}